# Krippendorf's Alpha

## Imports

In [1]:
import krippendorff as kd

In [2]:
import pandas as pd
import json

In [3]:
from collections import defaultdict
from json import dumps

## Read data

In [4]:
with open('ignas.json') as json_file:
    df_ignas = json.load(json_file)

In [5]:
with open('goda.json') as json_file:
    df_goda = json.load(json_file)

In [6]:
with open('emilijab.json') as json_file:
    df_emilijab = json.load(json_file)

In [7]:
with open('bohdan.json') as json_file:
    df_bohdan = json.load(json_file)

In [8]:
with open('emilijak.json') as json_file:
    df_emilijak = json.load(json_file)

In [9]:
with open('rutak.json') as json_file:
    df_rutak = json.load(json_file)

## Find intersections

In [10]:
dataframe_ignas = pd.DataFrame(df_ignas)
dataframe_goda = pd.DataFrame(df_goda)
dataframe_emilijab = pd.DataFrame(df_emilijab)
dataframe_bohdan = pd.DataFrame(df_bohdan)
dataframe_emilijak = pd.DataFrame(df_emilijak)
dataframe_rutak = pd.DataFrame(df_rutak)

In [11]:
dataframe_rutak['id']

0      57868
1      57885
2      57902
3      57919
4      57936
       ...
132    62016
133    62067
134    62101
135    62152
136    62220
Name: id, Length: 137, dtype: int64

In [12]:
s1 = set(dataframe_ignas['id'])
s2 = set(dataframe_goda['id'])
s3 = set(dataframe_emilijab['id'])
s4 = set(dataframe_bohdan['id'])
s5 = set(dataframe_emilijak['id'])
s6 = set(dataframe_rutak['id'])

In [13]:
len(s1.intersection(s2))

92

In [14]:
len(s1.intersection(s3))

57

In [15]:
len(s1.intersection(s4))

2

In [16]:
len(s1.intersection(s5))

30

In [17]:
len(s1.intersection(s6))

16

In [18]:
len(s2.intersection(s3))

353

In [19]:
len(s2.intersection(s4))

1

In [20]:
len(s2.intersection(s5))

156

In [21]:
len(s2.intersection(s6))

25

In [22]:
len(s3.intersection(s4))

1

In [23]:
len(s3.intersection(s5))

849

In [24]:
len(s3.intersection(s6))

21

In [25]:
len(s4.intersection(s5))

1

In [26]:
len(s4.intersection(s6))

0

In [27]:
len(s5.intersection(s6))

14

In [28]:
gal_geras1=s3.intersection(s5)
gal_geras2=s2.intersection(s3)

In [29]:
len(gal_geras1.intersection(gal_geras2))

147

## Find mutual ids

In [30]:
bendri_id = set(dataframe_goda['id']).intersection(set(dataframe_emilijab['id'])).intersection(set(dataframe_emilijak['id']))

In [31]:
bendri_id = list(bendri_id)

In [32]:
goda = dataframe_goda[dataframe_goda['id'].isin(bendri_id)]

In [33]:
emilijab = dataframe_emilijab[dataframe_emilijab['id'].isin(bendri_id)]

In [34]:
emilijak = dataframe_emilijak[dataframe_emilijak['id'].isin(bendri_id)]

In [35]:
goda

,id,data,label
3,57888,Hi everyone The landlord wanted to see the pro...,"[[12, 24, Person Landlord/Agent], [39, 51, Loc..."
4,57889,Hi again We rescheduled for 22nd of December a...,"[[28, 44, Date], [45, 51, Time (of the day)], ..."
31,58113,The payment is done,"[[0, 11, Money]]"
38,58176,Hi Marco Did she take the fridge out of the ki...,"[[40, 51, Location / Place / Address]]"
39,58177,Yes she took. But we find the kitchen much bet...,"[[26, 37, Location / Place / Address], [50, 53..."
...,...,...,...
2805,83664,"Good Morning Kes ! I am Daniel, I messaged you...","[[5, 13, Time (of the day)], [78, 93, Location..."
2834,84240,But we can pay half on the 28 and on 1 of may ...,"[[11, 19, Money], [20, 29, Date], [34, 45, Dat..."
2846,84528,Hello. What time tomorrow?,"[[17, 25, Date]]"
2859,84816,I dont know how much is the cleaner they arrange,"[[24, 35, Person Fixer (profession)]]"
2910,85680,"Is the heating on in the house? Btw, thermosta...","[[0, 17, Heating / Air conditioning], [18, 30,..."

## Merge 3 datasets

In [36]:
merged1 = pd.merge(goda[['id','label']], emilijab[['id','label']], on='id')
merged1

,id,label_x,label_y
0,57888,"[[12, 24, Person Landlord/Agent], [39, 51, Loc...","[[12, 24, Person Landlord/Agent], [38, 52, Loc..."
1,57889,"[[28, 44, Date], [45, 51, Time (of the day)], ...","[[28, 44, Date], [48, 51, Time (of the day)]]"
2,58113,"[[0, 11, Money]]","[[0, 11, Money]]"
3,58176,"[[40, 51, Location / Place / Address]]","[[17, 51, Other issues (noise, windows, furnit..."
4,58177,"[[26, 37, Location / Place / Address], [50, 53...","[[26, 37, Location / Place / Address], [67, 93..."
...,...,...,...
142,83664,"[[5, 13, Time (of the day)], [78, 93, Location...","[[5, 13, Time (of the day)], [50, 60, Location..."
143,84240,"[[11, 19, Money], [20, 29, Date], [34, 45, Dat...","[[11, 15, Money], [42, 46, Date], [62, 66, Mon..."
144,84528,"[[17, 25, Date]]","[[17, 25, Date]]"
145,84816,"[[24, 35, Person Fixer (profession)]]","[[24, 35, Person Fixer (profession)]]"
146,85680,"[[0, 17, Heating / Air conditioning], [18, 30,...","[[7, 15, Heating / Air conditioning], [21, 30,..."

In [37]:
merged = pd.merge(merged1, emilijak[['id','label']], on='id')
merged

,id,label_x,label_y,label
0,57888,"[[12, 24, Person Landlord/Agent], [39, 51, Loc...","[[12, 24, Person Landlord/Agent], [38, 52, Loc...","[[12, 24, Person Landlord/Agent], [25, 51, Mee..."
1,57889,"[[28, 44, Date], [45, 51, Time (of the day)], ...","[[28, 44, Date], [48, 51, Time (of the day)]]","[[9, 23, Meeting], [24, 44, Date], [45, 52, Ti..."
2,58113,"[[0, 11, Money]]","[[0, 11, Money]]","[[0, 12, Money]]"
3,58176,"[[40, 51, Location / Place / Address]]","[[17, 51, Other issues (noise, windows, furnit...","[[40, 51, Location / Place / Address]]"
4,58177,"[[26, 37, Location / Place / Address], [50, 53...","[[26, 37, Location / Place / Address], [67, 93...","[[26, 37, Location / Place / Address], [67, 93..."
...,...,...,...,...
142,83664,"[[5, 13, Time (of the day)], [78, 93, Location...","[[5, 13, Time (of the day)], [50, 60, Location...","[[78, 93, Location / Place / Address], [102, 1..."
143,84240,"[[11, 19, Money], [20, 29, Date], [34, 45, Dat...","[[11, 15, Money], [42, 46, Date], [62, 66, Mon...","[[4, 19, Money], [20, 29, Date], [34, 45, Date..."
144,84528,"[[17, 25, Date]]","[[17, 25, Date]]","[[17, 25, Date]]"
145,84816,"[[24, 35, Person Fixer (profession)]]","[[24, 35, Person Fixer (profession)]]","[[24, 36, Person Fixer (profession)]]"
146,85680,"[[0, 17, Heating / Air conditioning], [18, 30,...","[[7, 15, Heating / Air conditioning], [21, 30,...","[[2, 14, Heating / Air conditioning], [37, 68,..."

In [38]:
merged.rename(columns = {'label_x':'G', 'label_y':'EB', 'label':'EK'}, inplace = True)

In [39]:
merged

,id,G,EB,EK
0,57888,"[[12, 24, Person Landlord/Agent], [39, 51, Loc...","[[12, 24, Person Landlord/Agent], [38, 52, Loc...","[[12, 24, Person Landlord/Agent], [25, 51, Mee..."
1,57889,"[[28, 44, Date], [45, 51, Time (of the day)], ...","[[28, 44, Date], [48, 51, Time (of the day)]]","[[9, 23, Meeting], [24, 44, Date], [45, 52, Ti..."
2,58113,"[[0, 11, Money]]","[[0, 11, Money]]","[[0, 12, Money]]"
3,58176,"[[40, 51, Location / Place / Address]]","[[17, 51, Other issues (noise, windows, furnit...","[[40, 51, Location / Place / Address]]"
4,58177,"[[26, 37, Location / Place / Address], [50, 53...","[[26, 37, Location / Place / Address], [67, 93...","[[26, 37, Location / Place / Address], [67, 93..."
...,...,...,...,...
142,83664,"[[5, 13, Time (of the day)], [78, 93, Location...","[[5, 13, Time (of the day)], [50, 60, Location...","[[78, 93, Location / Place / Address], [102, 1..."
143,84240,"[[11, 19, Money], [20, 29, Date], [34, 45, Dat...","[[11, 15, Money], [42, 46, Date], [62, 66, Mon...","[[4, 19, Money], [20, 29, Date], [34, 45, Date..."
144,84528,"[[17, 25, Date]]","[[17, 25, Date]]","[[17, 25, Date]]"
145,84816,"[[24, 35, Person Fixer (profession)]]","[[24, 35, Person Fixer (profession)]]","[[24, 36, Person Fixer (profession)]]"
146,85680,"[[0, 17, Heating / Air conditioning], [18, 30,...","[[7, 15, Heating / Air conditioning], [21, 30,...","[[2, 14, Heating / Air conditioning], [37, 68,..."

## All labels with id

In [40]:
files=['ignas.json','goda.json', 'emilijab.json', 'bohdan.json', 'emilijak.json', 'rutak.json']

def merge_JsonFiles(filename):
        result = list()
        for f1 in filename:
            with open(f1, 'r') as infile:
                result.extend(json.load(infile))
    
        with open('all.json', 'w') as output_file:
            json.dump(result, output_file)
    
merge_JsonFiles(files)

In [41]:
with open('all.json') as json_file:
    data = json.load(json_file)

In [42]:
d = defaultdict(lambda : defaultdict(list))
for dic in data:
    ids, label = dic["id"], dic["label"]
    d[ids]['label'].extend(label)

result = []
for k, v in d.items():
    result.append({"id": k, "label": v})

result=dumps(result)
# print(result)

In [43]:
df = json.loads(result)

In [44]:
allLabels = []
label_list = []
for row in df:
    rowLabels = []
    for labelList in row['label']['label']:
        rowLabels.append(labelList[2])
        label_list.append(labelList[2])
    allLabels.append([row['id'], rowLabels])
#     allLabels.append(rowLabels)

In [45]:
label_set = set(label_list)

In [46]:
label_list = list(label_set)
label_list

['Gas',
 'Heating / Air conditioning',
 'Water',
 'Date',
 'Person Landlord/Agent',
 'SKIP (other than ENG 80%)',
 'Person Fixer (profession)',
 'Electricity',
 'Time (of the day)',
 'Fire',
 'Person Tenant',
 'Location / Place / Address',
 'Communications (Internet, TV, Land- Phone)',
 'Money',
 'Meeting',
 'Other issues (noise, windows, furniture, etc.)']

In [47]:
allLabels = []
emilijab.iloc[0]

for index, row in emilijab.iterrows():
    rowLabels = []
    for labelList in row['label']:
        rowLabels.append(labelList[2])
    allLabels.append(row['id'])
    allLabels.append(rowLabels)

In [48]:
label_df = pd.DataFrame(label_list)
label_df

                                                 0
0                                              Gas
1                       Heating / Air conditioning
2                                            Water
3                                             Date
4                            Person Landlord/Agent
5                        SKIP (other than ENG 80%)
6                        Person Fixer (profession)
7                                      Electricity
8                                Time (of the day)
9                                             Fire
10                                   Person Tenant
11                      Location / Place / Address
12      Communications (Internet, TV, Land- Phone)
13                                           Money
14                                         Meeting
15  Other issues (noise, windows, furniture, etc.)

## Find only labels and add them to merged dataframe

In [49]:
merged['G']

0      [[12, 24, Person Landlord/Agent], [39, 51, Loc...
1      [[28, 44, Date], [45, 51, Time (of the day)], ...
2                                       [[0, 11, Money]]
3                 [[40, 51, Location / Place / Address]]
4      [[26, 37, Location / Place / Address], [50, 53...
                             ...
142    [[5, 13, Time (of the day)], [78, 93, Location...
143    [[11, 19, Money], [20, 29, Date], [34, 45, Dat...
144                                     [[17, 25, Date]]
145                [[24, 35, Person Fixer (profession)]]
146    [[0, 17, Heating / Air conditioning], [18, 30,...
Name: G, Length: 147, dtype: object

In [50]:
merged['G'][0]

[[12, 24, 'Person Landlord/Agent'],
 [39, 51, 'Location / Place / Address'],
 [52, 57, 'Date'],
 [58, 67, 'Time (of the day)'],
 [80, 89, 'Location / Place / Address'],
 [161, 170, 'Date'],
 [171, 183, 'Time (of the day)']]

In [51]:
merged['G'][0][1]
#  merged['G'][0][1] = label_with_numbers

[39, 51, 'Location / Place / Address']

In [52]:
merged['G'][0][1][2]

'Location / Place / Address'

In [53]:
labels = []
for label_with_numbers in merged['G'][0]:
    labels.append(label_with_numbers[2])
    
print(labels)

['Person Landlord/Agent', 'Location / Place / Address', 'Date', 'Time (of the day)', 'Location / Place / Address', 'Date', 'Time (of the day)']

In [54]:
for row in merged['G']:
    labels = []
    for label_with_numbers in row:
        labels.append(label_with_numbers[2])
    
#     print(labels)

In [55]:
merged.iloc[26]

id               59905
G     [[20, 26, Date]]
EB    [[20, 26, Date]]
EK    [[20, 26, Date]]
Name: 26, dtype: object

In [56]:
merged.iloc[27]

id                                    59985
G     [[25, 36, Person Fixer (profession)]]
EB    [[25, 36, Person Fixer (profession)]]
EK    [[25, 36, Person Fixer (profession)]]
Name: 27, dtype: object

In [57]:
for i, row in  merged.iterrows():
    labels = []
    for label_with_numbers in row['G']:
        labels.append(label_with_numbers[2])
    merged.at[i,'G'] = labels
    labels = []
    for label_with_numbers in row['EK']:
        labels.append(label_with_numbers[2])
    merged.at[i,'EK'] = labels
    labels = []
    for label_with_numbers in row['EB']:
        labels.append(label_with_numbers[2])
    merged.at[i,'EB'] = labels

In [58]:
merged

,id,G,EB,EK
0,57888,"[Person Landlord/Agent, Location / Place / Add...","[Person Landlord/Agent, Location / Place / Add...","[Person Landlord/Agent, Meeting, Date, Time (o..."
1,57889,"[Date, Time (of the day), Meeting]","[Date, Time (of the day)]","[Meeting, Date, Time (of the day)]"
2,58113,[Money],[Money],[Money]
3,58176,[Location / Place / Address],"[Other issues (noise, windows, furniture, etc.)]",[Location / Place / Address]
4,58177,"[Location / Place / Address, Time (of the day)...","[Location / Place / Address, Other issues (noi...","[Location / Place / Address, Other issues (noi..."
...,...,...,...,...
142,83664,"[Time (of the day), Location / Place / Address...","[Time (of the day), Location / Place / Address...","[Location / Place / Address, Location / Place ..."
143,84240,"[Money, Date, Date, Money]","[Money, Date, Money]","[Money, Date, Date, Money]"
144,84528,[Date],[Date],[Date]
145,84816,[Person Fixer (profession)],[Person Fixer (profession)],[Person Fixer (profession)]
146,85680,"[Heating / Air conditioning, Location / Place ...","[Heating / Air conditioning, Location / Place ...","[Heating / Air conditioning, Heating / Air con..."

## Convert labels to index values

In [59]:
goda[['id', 'label']].iloc[0]['label']

[[12, 24, 'Person Landlord/Agent'],
 [39, 51, 'Location / Place / Address'],
 [52, 57, 'Date'],
 [58, 67, 'Time (of the day)'],
 [80, 89, 'Location / Place / Address'],
 [161, 170, 'Date'],
 [171, 183, 'Time (of the day)']]

In [60]:
emilijab.iloc[0]['label']

[[12, 24, 'Person Landlord/Agent'],
 [38, 52, 'Location / Place / Address'],
 [80, 89, 'Location / Place / Address'],
 [161, 170, 'Date'],
 [171, 184, 'Time (of the day)'],
 [52, 58, 'Date'],
 [58, 67, 'Time (of the day)'],
 [209, 213, 'Time (of the day)']]

In [61]:
def get_index(label):
    return label_df[label_df[0] == label].index.values.astype(int)[0]

In [62]:
get_index(merged.iloc[0]['G'][0])

4

In [63]:
for i, row in  merged.iterrows():
    indexes = []
    for label in row['G']:
        indexes.append(get_index(label))
    merged.at[i,'G'] = indexes
    indexes = []
    for label in row['EK']:
        indexes.append(get_index(label))
    merged.at[i,'EK'] = indexes
    indexes = []
    for label in row['EB']:
        indexes.append(get_index(label))
    merged.at[i,'EB'] = indexes

In [64]:
merged

,id,G,EB,EK
0,57888,"[4, 11, 3, 8, 11, 3, 8]","[4, 11, 11, 3, 8, 3, 8, 8]","[4, 14, 3, 8, 3, 8, 11]"
1,57889,"[3, 8, 14]","[3, 8]","[14, 3, 8]"
2,58113,[13],[13],[13]
3,58176,[11],[15],[11]
4,58177,"[11, 8, 15]","[11, 15]","[11, 15]"
...,...,...,...,...
142,83664,"[8, 11, 13, 11, 3]","[8, 11, 11, 11, 3]","[11, 11, 3]"
143,84240,"[13, 3, 3, 13]","[13, 3, 13]","[13, 3, 3, 13]"
144,84528,[3],[3],[3]
145,84816,[6],[6],[6]
146,85680,"[1, 11, 1]","[1, 11]","[1, 1]"

## Make agreement table for Krippendorff

In [65]:
from collections import Counter

In [66]:
merged.iloc[0]['G']

[4, 11, 3, 8, 11, 3, 8]

In [67]:
merged_row = merged.iloc[0]['G'] + merged.iloc[0]['EK'] + merged.iloc[0]['EB']

In [68]:
merged_row

[4, 11, 3, 8, 11, 3, 8, 4, 14, 3, 8, 3, 8, 11, 4, 11, 11, 3, 8, 3, 8, 8]

In [69]:
Counter(merged_row)

Counter({4: 3, 11: 5, 3: 6, 8: 7, 14: 1})

In [70]:
Counter(merged_row)[0]

0

In [71]:
agreement_table = []
for i, row in  merged.iterrows():
    merged_row = row['G'] + row['EK'] + row['EB']
    counted = Counter(merged_row)
    agreement_row = []
    for index in range(0,16):
        agreement_row.append(counted[index])
        agreement_table.append(agreement_row)
# print(agreement_table)

## Calculate Krippendorff's Alpha

In [72]:
res = kd.alpha(value_counts=agreement_table, level_of_measurement="nominal")

In [73]:
res

0.40441589474293893